    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <img src="img/OW.svg" style="width: 100%; position: relative; top: -300px" >
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About OntoWiki</h2>
                <p>OntoWiki facilitates the visual presentation of a knowledge base as an information map, with different views on instance data.
                    It enables intuitive authoring of semantic content, with an inline editing mode for editing RDF content, similar to WYSIWIG for text documents.
            </div>
        </div>
    </section>
