    <!-- About Section -->
    <section id="success" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Success Stories</h2>

                <h3>amsl.technology</h3>
                <div><a href="http://amsl.technology/">http://amsl.technology/</a></div>
                <div class="col-md-3 col-md-push-9">
                <img src="img/amsl.png" alt="amsl.technology screenshot" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-9 col-md-pull-3">
                <p class="right">In the amsl.technology project an Electronic Resource Management System is developed based on OntoWiki.
                amsl.technology is targeted to support libraries and other players in the library domain to manage not only physical resources, such as books, journals, CDs/DVDs,
                but also electronic resources (e.g. e-journals, e-books or databases).</p>
                </div>

                <h3>Distributed Semantic Social Network</h3>
                <div class="col-md-3">
                    Bild
                </div>
                <div class="col-md-9">
                <p class="left">DSSN, DSSN.</p>
                </div>

                <h3>Professorenkatalog and Pfarrerbuch</h3>


                <div class="col-md-3 col-md-push-9">
                    Bild
                </div>
                <div class="col-md-9 col-md-pull-3">
                <p class="right">The projects Sächsisches Pfarrerbuch (engl. Saxonian pastors book) and Catalogus Profesorum Lipsiensium (CPL) are projects for prosopographical knowledge bases.
                The Pfarrerbuch is aiming to catalog all pastors serving in the Lutheran Church in Saxony since the reformation in 1517.
                The CPL collects all professors who have taught at Leipzig University from its foundation in 1409 to the presence. Currently it comprises more than 14, 000 entities.
                In both systems OntoWiki is used as data curation and exploration platform especially for data scientists and domain experts in the respective historical domain.</p>
                </div>


                <h3>aksw.org</h3>
                <div><a href="http://aksw.org/">http://aksw.org/</a></div>

                <div class="col-md-3">
                <img src="img/aksw-ontowiki.png" alt="aksw.org screenshot" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-9">
                <p class="left">The website of our research group 9 (AKSW) is backed by an OntoWiki with an extension for publishing websites based on templates and data from a triple store.
                    This sophisticated extension is called the site extension 7 and it extends OntoWiki towards a CMS.
                    Since the AKSW research group has become quite large recently (the website currently includes more than 50 team members and a large number of different projects) a CMS is indispensable.</p>
                </div>

                <h3>CubeViz</h3>

                <div class="col-md-3 col-md-push-9">
                    Bild
                </div>
                <div class="col-md-9 col-md-pull-3">
                <p class="right">CubeViz.</p>
                </div>

                <h3>Open Data Portal EU</h3>

                <div class="col-md-3">
                    Bild
                </div>
                <div class="col-md-9">
                <p class="left">open Data.</p>
                </div>

            </div>
        </div>
    </section>
