    <!-- About Section -->
    <section id="success" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Success Stories</h2>

                <h3><a href="http://amsl.technology/">amsl.technology</a></h3>
                <div class="col-md-3 col-md-push-9">
                <img src="img/amsl.png" alt="amsl.technology screenshot" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-9 col-md-pull-3">
                <p class="right">In the amsl.technology project an Electronic Resource Management System is developed based on OntoWiki.
                amsl.technology is targeted to support libraries and other players in the library domain to manage not only physical resources, such as books, journals, CDs/DVDs,
                but also electronic resources (e.g. e-journals, e-books or databases).</p>
                </div>

                <h3><a href="http://aksw.org/Projects/DSSN">Distributed Semantic Social Network</a></h3>
                <div class="col-md-4">
                <img src="img/DSSN.png" alt="aksw.org screenshot" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-8">
                <p class="left">We implemented a prototype for a Distributed Semantic Social Network (DSSN) based on OntoWiki.
                    The prototype can be summarized as a WebID provider with an integrated communication hub.
                    It includes functionality for WebID creation and management, friending and subscription of activity feeds and profile updates.
                    All features were realized by employing the extension mechanisms offered by OntoWiki.</p>
                </div>

                <h3><a href="http://aksw.org/Projects/CatalogusProfessorum">Professorenkatalog</a> and <a href="http://aksw.org/Projects/Pfarrerbuch">Pfarrerbuch</a></h3>
                <div class="col-md-3 col-md-push-9">
                <img src="img/pfarrerbuch.png" alt="aksw.org screenshot" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-9 col-md-pull-3">
                <p class="right">The projects Sächsisches Pfarrerbuch (engl. Saxonian pastors book) and Catalogus Profesorum Lipsiensium (CPL) are projects for prosopographical knowledge bases.
                The Pfarrerbuch is aiming to catalog all pastors serving in the Lutheran Church in Saxony since the reformation in 1517.
                The CPL collects all professors who have taught at Leipzig University from its foundation in 1409 to the presence. Currently it comprises more than 14,000 entities.
                In both systems OntoWiki is used as data curation and exploration platform especially for data scientists and domain experts in the respective historical domain.</p>
                </div>


                <h3><a href="http://aksw.org/">aksw.org</a></h3>

                <div class="col-md-3">
                <img src="img/aksw-ontowiki.png" alt="aksw.org screenshot" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-9">
                <p class="left">The website of our research group 9 (AKSW) is backed by an OntoWiki with an extension for publishing websites based on templates and data from a triple store.
                    This sophisticated extension is called the site extension 7 and it extends OntoWiki towards a CMS.
                    Since the AKSW research group has become quite large recently (the website currently includes more than 50 team members and a large number of different projects) a CMS is indispensable.</p>
                </div>

                <h3><a href="http://aksw.org/Projects/CubeViz">CubeViz</a></h3>

                <div class="col-md-4 col-md-push-8">
                    <img src="img/cubeviz.png" alt="aksw.org screenshot" class="img-thumbnail img-responsive" />
                </div>
                <div class="col-md-8 col-md-pull-4">
                <p class="right">CubeViz is a facetted browser for statistical data utilizing the RDF Data Cube vocabulary which is the state-of-the-art in representing statistical data in RDF.
                    This vocabulary is compatible with SDMX and increasingly being adopted.
                    Based on the vocabulary and the encoded Data Cube, CubeViz is generating a facetted browsing widget that can be used to filter interactively observations to be visualized in charts.
                    Based on the selected structure, CubeViz offer beneficiary chart types and options which can be selected by users.</p>
                </div>

            </div>
        </div>
    </section>
